aiofiles
aiohttp
aiosqlite
chess
colorama
deep-translator==1.11.4
discord-ext-menus
discord.py
duckduckgo-search==6.3.6
fastapi
gtts
jishaku
langdetect
mcstatus
numpy
pillow
psutil
pycloudflared
pydantic
python-dotenv
pytz
PyYAML
requests
slowapi
typing_extensions
uvicorn==0.46.0
wavelink>=3.0.0
